@font-face {
  font-family: "MyriadPro-Regular";
  src: url("../fonts/MyriadPro-Regular/MyriadPro-Regular.eot"); /* IE9*/
  src: url("../fo/fonts/MyriadPro-Regular/MyriadPro-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff2") format("woff2"), /* chrome、firefox */
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"), /* chrome、firefox */
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("../fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg"); /* iOS 4.1- */
}